/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f57948;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #be47b0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(42, 131, 122, 0.1);
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

.input-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #e71b9f;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.input-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-container button:hover {
    background-color: #0056b3;
}

.filter-container {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Style for Access All Tasks Button */
#accessAllTasksButton {
    margin-top: 20px;
    background-color: #ff69b4;
    /* Pink color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    /* Make it a block-level element to center it */
    margin: 0 auto;
    /* Center the button horizontally */
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #f0f0f0;
}

.completed {
    text-decoration: line-through;
    color: #aaa;
}